body {
	
}

img.floatLeft { 
    float: left; 
    margin: 4px; 
}
img.floatRight { 
    float: right; 
    margin: 4px; 
}


body {
    /* background: white;
    background-image: url("bg5.gif");*/
    background: rgb(0, 0, 0);
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

div#first-column {
	margin: 3px 3px 3px 3px;
    position: absolute;
    top: 0;
    bottom: 0;
    /*border: 1px solid gray;*/
    /*background: rgb(240, 240, 240);*/
    width: 279px;
    margin: 3px;
}
div#first-column {
    left: 710px;
}



div.box {
	border: 1px solid gray;
	margin: 0px 0px 30px 5px;
	padding: 5px;
	height: 260px;
}

div.searchbox {
	border: 1px solid gray;
	margin: 0px 0px 30px 5px;
	padding: 5px;
	height: 55px;
}

